@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
  background-color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar Styles Starts Here */
.navbar {
    display: flex;
    justify-content: space-between;
    width:auto;
    height: auto;
    margin: 60px 200px;
}
.nav-menu {
    display: flex;
    align-content: end;
    border: 1px solid;
    padding: 10px 25px;
    border-radius: 30px;
    margin: 60px;
    box-shadow: gray;
}
.hamburger {
    color: white;
    margin: 70px 200px;    
}
h1 {
    color: rgb(230, 83,60);
    justify-content: center;
    vertical-align:middle;
    margin-top: 60px;
    font-size: 36px;
}
.btn-one {
    padding: 5px 20px;
    background-color: rgb(230, 83,60);
    border: none;
    border-radius: 20px;
    font-size: 18px;
}
.btn-common {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 5px 25px;
    font-size: 18px;
}

/* Navbar Styles Ends Here */

/* header/banner content styles starts here */
.banner-container {
    display: flex;
    max-width: 1440px;
    margin: 60px 200px;
    justify-content: space-between;
}
.banner-content {
    max-width: 450px;
    height: 100%;
}
.banner-images {
    /* max-width: 300px; */
    margin-right: 150px;
}
span {
    font-family:cursive;
}
/* header/banner content styles ends here */

.main-heading {
    color: white;
    font-size: 60px;
}
.banner-description {
    color: darkgray;
    margin-top: 20px;
}
.join-now {
    padding: 15px 40px;
    background-color: rgb(230, 83,60);
    border: none;
    border-radius: 35px;
    font-size: 18px;
    margin-top: 30px;
    margin-right: 20px;
    color: white;
}
.download-app {
    padding: 15px 40px;
    background-color: black;
    border: 1px solid gainsboro;
    border-radius: 35px;
    font-size: 18px;
    margin-top: 30px;
    color: white;
}
/* change your habit section's styles here */
.habit-container {
    width: 1060px;
    margin-left: 200px;
    margin-right: 200px;
}
.habit-head {
    color: white;
    text-align: center;
}
.habit-img {
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
/* BMI section */
.BMI {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.bmi-head {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 200px;
    width: 850px;
    margin-top: 50px;
    font-size: 36px;
}
.bmi-content {
    color: white;
    margin-left: 330px;
    width: 850px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.BMI-data {
    width: 100%;
    height: auto;
    background-color: #1A1A1A;
}
.table {
    color: white;
    padding-left: 300px;
    padding-bottom: 50px;
    /* border-collapse: collapse; */
}
.table-head {
    height: 100px;
    padding-top: 30px;
    padding-left: 35px;
}

th, td {
    border: 1px solid rgb(51, 51, 51);
    padding: 10px 20px;
    border-collapse:collapse;
}
td {
    color: darkgray;
}
.form {
    color: white;
    padding-right: 300px;
    padding-top: 30px;
}
.form-head {
    margin-bottom: 30px;
    margin-top: 10px;
    color: darkgray;
}
.form-box {
    width: 180px;
    padding: 10px;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 5px;
}
.form-box3 {
    width: 180px;
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 5px;
}
.form-box4 {
    width: 180px;
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 5px;
    color: gray;
}
.form-box5 {
    width: 370px;
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 5px;
    color: gray;
}
.table-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* Meet our team section styles */
.team {
    max-width: 1060px;
    height: 958px;
    margin-left: 200px;
    margin-right: 200px;
}

.team-content {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}
.team-content>p {
    color: darkgray;
}
.team-heading {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-top: 80px;
    background-color: #1A1A1A;
    padding: 20px 20px 20px 20px;
    height: 610px;
    width: 1070px;
    border-radius: 20px;
    justify-content: center;
    position: relative;
}
.one {
    height: 272px;
    width: 326px;
    border-radius: 20px;
}
.name-1 {
    color: white;
    position: absolute;
    left: 25px;
    top: 250px;
    font-size: 30px;
}
.two {
    height: 272px;
    width: 326px;
    border-radius: 20px;
}
.name-2 {
    color: white;
    position: absolute;
    top: 250px;
    left: 380px;
    font-size: 30px;
}
.three {
    height: 272px;
    width: 326px;
    border-radius: 20px;
}
.name-3 {
    color: white;
    position: absolute;
    top: 250px;
    right: 210px;
    font-size: 30px;
}
.four {
    height: 272px;
    width: 326px;
    border-radius: 20px;
}
.name-4 {
    color: white;
    position: absolute;
    left: 25px;
    bottom: 30px;
    font-size: 30px;
}
.five {
    height: 272px;
    width: 326px;
    border-radius: 20px;
}
.name-5 {
    color: white;
    position: absolute;
    left: 380px;
    bottom: 30px;
    font-size: 30px;
}
.six {
    height: 272px;
    width: 326px;
    border-radius: 20px;
}
.name-6 {
    color: white;
    position: absolute;
    right: 210px;
    bottom: 30px;
    font-size: 30px;
}

/* footer styles starts here */
.footer {
    width: 100%;
    height: auto;
    background-color: #1A1A1A;
}
.footer-main {
    display: flex;
    justify-content: space-around;
    width: 1060px;
    margin-left: 170px;
}
.footer-head {
    height: 250px;
    width: 400px;
}
.footer-part-two {
    padding-top: 70px;
}
.footer-part-three {
    padding-top: 70px;
}
.footer-head>p {
    color: white;
    margin-top: 10px;
}

.footer-part-two>h2 {
    color: white;
    margin-bottom: 10px;
}

.footer-part-three>h2 {
    color: white;
    margin-bottom: 10px;
}
.footer-main li {
    list-style: none;
    color: white;
}
.footer-main a {
    text-decoration: none;
    color: white;
    text-decoration: solid;
}
hr {
    max-width: 1440px;
    margin-left: 200px;
    margin-right: 200px;
}

.copy-right {
    color: rgb(175, 175, 175);
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

/* responsive */
@media screen and (max-width: 576px) {
    
    .navbar {
        /* display: flex; */
        /* flex-direction: column; */
        align-items: center;
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }
    h1 {
        color: gold;
    }
    .nav-menu {
        display: none;
    }
    .hamburger {
        color: white;
        justify-content: center;
        align-items: center;
        
    }
    .banner-container {
        flex-direction: column;
    }
    .BMI {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .bmi-head {
        text-align: left;
    }
    .bmi-content {
        text-align: left;
    }
    .table {
        padding: 10px;
        margin-left: 5px;
    }
    .form {
        padding: 10px;
        margin-left: 10px;
    }
    .table-form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .team {
        display: flex;
        flex-direction: column;
    }
    /* .team-images {
        background-color:black;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } */

    .footer {
        flex-direction: column;
        margin-top: 30px;
    }
    .footer-main {
        display: flex;
        flex-direction: column;
    }
}